.me-img {
    height: 870px;
    width: 50%;
    background-image: url('https://res.cloudinary.com/wander8jackson/image/upload/c_scale,w_789/v1572890094/heyjackson_r1vo4c.png');
    border-top:2px solid #324142;
    border-bottom:2px solid #324142;
    border-left:2px solid #324142;
    transition: ease-in .2s;
}

.me-img:hover{
    background-size: cover;
    background-image: url('https://res.cloudinary.com/wander8jackson/image/upload/v1576662160/IMG_7164_3_a4iuuu.jpg');
}

.aboutbase {
    max-width: 1140px;
    margin-bottom: 32px;
}
.cardbase-about {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%
}
.about_content {
    height: 870px;
    width: 50%;
    border:2px solid #324142;
    background-color: #edf0ea
}

.content_case {
    width: 400px;
    margin-left: 32px;
}



.cinza {
    background-color: #324142;
}

.verde {
    background-color: #34bc8d
}

@media screen and (max-width:768px) {
    .aboutbase{
        margin-bottom: 64px;
    }
    .cardbase-about {
        flex-direction: column;
        height: auto;
    }
    .me-img {
        height: 400px;
        width: 100%;
        background-size: cover;
        display: block;
        margin:0 auto;
    }
    .about_content {
        height: 870px;
        width: 100%;
        border:2px solid #324142;
        background-color: #edf0ea
    }

    .content_case {
        max-width: 350px;
        width: 80%;
    }

}