@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Monoton&display=swap');

.cardbase {
  max-width: 1140px;
}

.app_content,
.app_img {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.web_mockup{
  width: 80%;
  display: block;
  margin:0 auto;
  padding-top:100px;
}
.mobile_mockup{
  width: 60%;
  height: 640px;
  display: block;
  margin:0 auto;
  padding-top:100px;
}


.letter {
  font-size: 300px;
  font-family: 'Monoton', cursive;
  font-family: 'Bungee Shade', cursive;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  color: black;
}

.cardbase {
  display: flex;
  margin: 0 auto;
}

.cardbase_verse {
  display: flex;
  margin: 0 auto;
}

.app_content {
  width: 100%;
  background-color: #edf0ea;
}

.app_img {
  width: 100%;
}

.content_case {
  width: 369px;
  margin-left: 32px;
  padding: 120px 0;
}

.content_case .display2 {
  margin-top: 0;
  line-height: 1;
}

.border-blue {
  border-bottom: 8px solid #75b6ff;
  max-width: 30%;
  margin-top: 2px;
  margin-bottom: 32px;
}

.border-green {
  border-bottom: 8px solid #34bc8d;
  max-width: 30%;
  margin-top: 2px;
  margin-bottom: 32px;
}

.border-orange {
  border-bottom: 8px solid #fdba69;
  max-width: 30%;
  margin-top: 2px;
  margin-bottom: 32px;
}

.gap-top {
  margin-top: 32px;
}

.gap-bottom {
  margin-bottom: 32px;
}

.cinza {
  background-color: #324142;
}

.verde {
  background-color: #34bc8d;
}

.laranja {
  background-color: #fdba69;
}

.azul {
  background-color: #75b6ff;
}

@media screen and (max-width: 768px) {
  .cardbase {
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 16px;
  }

  .cardbase_verse {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .app_img {
    height: 293px;
    width: 100%;
  }

  .app_content {
    background-color: transparent;
  }

  .content_case {
    width: 80%;
  }

  .c_appImg {
    margin-top: 42px;
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .content_case {
    padding: 32px 0;
  }

  .letter {
    font-size: 6em;
    font-family: 'Monoton', cursive;
    font-family: 'Bungee Shade', cursive;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }

}