.text{
    font-size: 2.5em;
    color: #939393;;
}

.work-container{
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width:100%;

}
.work-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  
}

.sized-box-left{
    margin-left: 16px;
    margin-top: 128px;
}