@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


body,
ul,
li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 20px;
    box-sizing: border-box
}


.nav-bar {
    z-index: 1;
    position: relative;
    height: 60px;
    font-family: 'Karla', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    color: #f9f9f9;
    background-color: #151515;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.logo img {
    width: 40px;
    height: 25px;
    padding-left: 128px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 120px;
}


.menu-nav a {
    margin-right: 64px;
    cursor: url('https://res.cloudinary.com/wander8jackson/image/upload/c_scale,w_40/v1577377490/fingerup_uziizo.png'), auto;

}

.active {
    color: #ffffff;
    border-bottom: 4px solid #27AE60;

}

.hamburguer {
    visibility: hidden;
}


@media screen and (max-width:768px) {
    .hamburguer {
        visibility: hidden;
        margin-right: 10%;
    }
    .logo img {
        width: 40px;
        height: 25px;
        padding-left: 20px;
    }

    .line {
        height: 2px;
        width: 32px;
        background: #ffffff;
        margin-top: 6px;
    }

    .menu-nav {
        visibility: hidden;
        padding-top: 20px;
        flex-direction: column;
    }

    header {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .logo img {
        margin-top: 10%;
    }

    .hero_content {
        height: 475px;
    }

}