@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Hind&display=swap);

body,
ul,
li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 20px;
    box-sizing: border-box
}


.nav-bar{
    background-color: #EDF0EA;
    height: 60px;
    font-family: 'Karla', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo img {
    width: 40px;
    height: 25px;
    margin-left: 128px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}



.menu-nav a {
    margin-right: 32px;
}

.active {
    color: #262D32;
    border-bottom: 4px solid #262D32;
}

.hamburguer {
    visibility: hidden;
}


@media screen and (max-width:768px) {
    .hamburguer {
        visibility: visible;
        margin-right: 10%;
    }

    .line {
        height: 2px;
        width: 32px;
        background: #324142;
        margin-top: 6px;
    }

    .menu-nav {
        visibility: hidden;
    }

    .logo img {
        margin-top: 10%;
    }

    .nav-bar{
        height: 50px;
    }

    .hero_content {
        height: 475px;
    }

}