.custom-container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}



.c-row{
    display:flex;
}

.vertical-col{
    flex-direction: column;
}

.divider-top16{
    margin-top: 16px;
}

.column-6{
    width: 50%;
}


@media screen and (max-width:768px){
    .c-row{
        flex-direction: column;
    }
    .column-6{
        width: 80%;
    }
    .custom-container{
        max-width:365px;
        width: 100%;
    }
}