.custom-container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}



.c-row{
    display:flex;
}
.even{
    justify-content: space-around;
}

.even img{
    padding-top:16px;
}

.vertical-col{
    flex-direction: column;
}

.divider-top16{
    margin-top: 16px;
}
.column-3{
    width: 30%;
}
.column-6{
    width: 50%;
}

.column-4{
    width:40%;
}

.column-8{
    width:60%;
}


@media screen and (max-width:768px){
    .c-row{
        flex-direction: column;
    }
    .column-6{
        width: 100%;
    }
    .custom-container{
        max-width:365px;
        width: 100%;
    }
    .column-3{
        width: 100%;
    }

    .column-4{
        width:100%;
    }
    .column-8{
        width:100%;
    }
    .intro-top{
        padding-top:16px;
        padding-bottom: 16px;
    }
}