.custom-container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}



.c-row{
    display:flex;
}

.column-6{
    width: 50%;
}


@media screen and (max-width:768px){
    .c-row{
        flex-direction: column;
    }
    .column-6{
        width: 80%;
    }
}