@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat&display=swap');

.hero_content {
    width: 100%;
    height: 852px;
    background-color: #edf0ea;
    padding-top:128px;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 802px;
    width: 100%;
}

.item-hero {
    margin-bottom: 51px;
}

.play {
    display: block;
    margin: 41px auto 0;
}

@media screen and (max-width:768px){
    .container{
        max-width: 361px;
        width: 100%;
    }
}

