.color-orange {
    background-color: #FDBA69;
}
.color-green{
    background-color: #34BC8D;
}
.color-blue{
    background-color: #75B6FF;
}

.btn-base {
    height: 60px;
    width: 198px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 2px;
    color: white;
    cursor: url("https://res.cloudinary.com/wander8jackson/image/upload/c_scale,w_62/v1577315677/pointingup_jqql3f.png"), auto;
    background-color:rgb(21,21,21);
    transition:.5s ease-out;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: 'Karla', sans-serif;
}

.btn-base:hover{
    transform: translateY(-12px);
}
.color-orange:hover {
    background-color: rgb(184, 134, 74);
}
.color-green:hover{
    background-color: rgb(36, 130, 97);
}
.color-blue:hover{
    background-color: rgb(76, 121, 172);
}