.color-orange {
    background-color: #FDBA69;
}
.color-green{
    background-color: #34BC8D;
}
.color-blue{
    background-color: #75B6FF;
}

.btn-base {
    height: 60px;
    width: 198px;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
    transition:.5s ease-out;
}

.btn-base:hover{
    transform: translateY(-8px);

}