.color-orange {
    background-color: #FDBA69;
}
.color-green{
    background-color: #34BC8D;
}
.color-blue{
    background-color: #75B6FF;
}

.btn-base {
    height: 60px;
    width: 198px;
    font-size: 20px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    background-color:#EDF0EA;
    transition:.5s ease-out;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: 'Karla', sans-serif;
}

.btn-base:hover{
    transform: translateY(-8px);
    box-shadow: 5px 5px 0px #000;

}
.color-orange:hover {
    background-color: rgb(184, 134, 74);
}
.color-green:hover{
    background-color: rgb(36, 130, 97);
}
.color-blue:hover{
    background-color: rgb(76, 121, 172);
}